$color-white: #ffffff;
$color-white-D9: #F3EED9;
$color-black-15: #151515;
$color-black-1E: #1e1e1e;
$color-black-3E: #3E3E3E;
$color-black-30: #343330;
$color-red: #FE493E;
$color-blue: #1890FF;


$color-blue-gray: #86A3B8;
$color-peach: #F4B3B3;
$color-yellow: #FFE500;

