@use "../../styles/style.scss" as *;
.errorPageWrapper {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding: 0 15px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
}
.errorImgContainer {
  margin-bottom: 32px;
  img {
    @include mobile-tablet {
      width: 316px;
    }
  }
}
.text {
  font-size: 30px;
  font-weight: $fw-regular;
  line-height: 140%;
  margin-bottom: 64px;
  @include mobile-tablet {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 56px;
  }
}
.support {
  border-bottom: 1px solid $color-blue;
  @include petraRegular16;
  color: $color-blue;
  font-weight: $fw-semibold;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile-tablet {
    font-size: 17px;
  }
}
