@use "../../styles/style.scss" as *;
.slideContainer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  @include petraRegular16;
  text-align: center;
}

.first {
  width: 416px;
  height: 416px;
  border-radius: 8px;
  border: 0.5px solid $color-blue;
  background-color: #fafafa;

  @include mobile-tablet {
    width: 159px;
    height: 159px;
    border-radius: 8px;
  }
  .photosWrapper {
    display: flex;
    position: relative;
    width: 320px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    @include mobile-tablet {
      width: 98px;
      margin: 23px auto 12px;
      padding: 0;
    }
  }

  .uploadedImage1,
  .uploadedImage2 {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 0.7px solid #bdbcbc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url("/public/assets/images/default.png");
    @include mobile-tablet {
      border: 0.35px solid #fff;
      width: 52px;
      height: 52px;
    }
  }

  .uploadedImage1 {
    transform: rotate(-15deg);
  }
  .uploadedImage2 {
    position: absolute;
    top: 0;
    left: 170px;
    top: 20px;
    transform: rotate(15deg);
    z-index: 5;
    @include mobile-tablet {
      left: 45px;
      top: 0;
    }
  }

  .resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin: 0 auto 30px;

    @include mobile-tablet {
      gap: 4px;
      margin: 0 auto 8px;
    }

    p {
      @include h1;
      font-size: 48px;
      color: $color-black-15;
      text-align: center;
      @include mobile-tablet {
        font-size: 17px;
      }
    }
  }

  .bar {
    width: 329px;
    height: 13px;
    background-color: $color-white-D9;
    border-radius: 100px;
    @include mobile-tablet {
      width: 108px;
      height: 3px;
    }

    .resultNumber {
      height: 13px;
      border-radius: 100px;
      background-color: $color-red;
      @include mobile-tablet {
        height: 3px;
        border-radius: 35px;
      }
    }
  }

  .resultText {
    color: $color-black-15;
    max-width: 400px;
    align-self: center;
    font-size: 14px;
    line-height: 140%;
    font-weight: $fw-regular;
    @include mobile-tablet {
      font-size: 6px;
      font-weight: 200;
      max-width: 122px;
      text-align: start;
    }
  }
}
.second,
.third,
.fourth,
.fifth {
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  @include mobile-tablet {
    width: 160px;
    height: 160px;
  }

  .photosWrapper {
    display: flex;
    position: relative;
    padding-top: 175px;
    margin-bottom: 18px;
    gap: 16px;
    @include mobile-tablet {
      gap: 6px;
      margin: 0 auto 6px;
      padding-top: 67px;
    }
  }

  .uploadedImage1,
  .uploadedImage2 {
    width: 105px;
    height: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/public/assets/images/1.png");
    @include mobile-tablet {
      width: 36px;
      height: 36px;
    }
  }

  .resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto 15px;

    @include mobile-tablet {
      gap: 5px;
    margin: 0 auto 5px;
    }

    p {
      @include h1;
      font-size: 30px;
      color: $color-black-15;
      text-align: center;
      @include mobile-tablet {
        font-size: 10px;
      }
    }
  }

  .bar {
    width: 208px;
    height: 8px;
    background-color: $color-white-D9;
    border-radius: 44px;
    @include mobile-tablet {
      width: 70px;
      height: 3px;
    }

    .resultNumber {
      height: 8px;
      border-radius: 44px;
      background-color: $color-red;
      @include mobile-tablet {
        height: 3px;
        border-radius: 15px;
      }
    }
  }

  .resultText {
    color: $color-black-15;
    max-width: 232px;
    align-self: center;
    font-size: 9px;
    line-height: 140%;
    font-weight: $fw-regular;
    @include mobile-tablet {
      font-size: 3.5px;
      max-width: 80px;
    }
  }
}
.second {
  background: url("../../../public/assets/svg/secondTemplate.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third {
  background: url("../../../public/assets/svg/thirdTemplate.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .thirdPhotos {
    padding-top: 108px;
    @include mobile-tablet {
      padding-top: 42px;
    }
  }
}
.fourth {
  background: url("../../../public/assets/svg/fourthTemplate.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .fourthPhotos {
    padding-top: 49px;
    @include mobile-tablet {
      padding-top: 18px;
    }
  }
  .white {
    color: #fff !important;
  }
}
.fifth {
  background-color: lightgray;
  background-image: url("../../../public/assets/svg/fifthTemplate.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .fifthPhotos {
    padding-top: 17px;
    @include mobile-tablet {
      padding-top: 8px;
    }
  }
}
