@use '../../styles/style.scss' as *;

.slideContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 634px !important;
  height: 310px !important;
  @include petraRegular16;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;

  @include mobile-tablet {
    width: 323px !important;
    height: 166px !important;
  }
}
.whiteText {
  color: $color-white;
}
.yellowText {
  color: $color-yellow;
}
.blueGrayText {
  color: $color-blue-gray;
}
.redText {
  color: $color-red;
}
.blackText {
  color: $color-black-3E;
}

.blueGray {
  background-color: $color-blue-gray;
}
.peach {
  background-color: $color-peach;
}
.white {
  background-color: $color-white-D9;
}

.firstSlide, .secondSlide {
  width: 310px;
}
.firstSlide {
  @include mobile-tablet {
    width: 223px;
  }
}
.secondSlide {
  @include mobile-tablet {
    width: 199px;
  }
}