@use "../../styles/style.scss" as *;

.header {
  @include mobile-tablet {
    position: fixed;
    padding-top: 15px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    margin: 0 auto;
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  z-index: 20;

  img {
    cursor: pointer;
    @include mobile-tablet {
      padding-left: 14px;
    }
  }
}

.burgerButton {
  display: none;
  background: url("../../../public/assets/icons/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  @include mobile-tablet {
    display: block;
  }
}

.navbar {
  display: flex;
  gap: 120px;
  padding-right: 218px;
  @media screen and (width < 1000px) {
    padding-right: 118px;
    gap: 60px;
  }
  @include mobile-tablet {
    display: none;
  }
}
.navbar__menu {
  display: flex;
  gap: 20px;
}
.navbar__languages {
  display: flex;
}

.navbar__menu_item {
  @include petraRegular16;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
}
.active {
  font-weight: $fw-semibold;
}

.burgerMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 50;
}
.activeBurgerMenu {
  opacity: 1;
  pointer-events: all;
}

.burgerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  padding-top: 15px;
}

.closeBurgerBtn {
  align-self: flex-end;
  margin-bottom: 18px;
  img {
    cursor: pointer;
  }
}

.burgerTitle {
  @include h1;
  color: $color-red;
  margin-bottom: 24px;
  text-align: center;
}

.burgerSubtitle {
  @include petraRegular16;
  font-weight: $fw-semibold;
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 105%;
  text-align: center;
}

.burgerMenu__languages {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.burgerMenu__languages_item {
  padding: 12px 16px;
}

.burgerMenu__links {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup {
  width: 810px;
  margin: 80px 68px 80px 56px;
  .popup__title {
    @include h1;
    color: $color-red;
    margin-bottom: 24px;
    @include mobile-tablet {
      width: unset;
      text-align: center;
    }
  }
  @include mobile-tablet {
    width: unset;
    margin: 0;
    padding: 59px 10px 16px;
  }

  .popup__subtitle {
    @include petraRegular16;
    font-weight: $fw-semibold;
    font-size: 30px;
    line-height: 105%;
    margin-bottom: 24px;
    @include mobile-tablet {
      text-align: center;
      margin-bottom: 28px;
    }
  }

  .popup__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;

    @include petraRegular16;
    @include mobile-tablet {
      font-size: 14px;
    }
  }
}
