@use '../../styles/style.scss' as *;



.homePageWrapper {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.heroSection {
  // padding-top: 20px;
  padding-bottom: 44px !important;
  .image {
  height: 252px;
  width: 100vw;
  background-image: url('/assets/images/image1.png');
  background-position: center;
  background-repeat: no-repeat;
}

  .mainTitle {
    @include h1;
    color: $color-red;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  

  
}
.mainInfo {
    @include petraRegular16;
    // color: $color-black-15;
  }
.h2 {
  @include h2;
  text-align: right;
  color: $color-red;
}
.checkSimilarity {
  margin: 44px auto 0;
}

.secondSection {

  .center {
    margin-top: 44px;
    margin-bottom: 36px;
    padding: 0 12px;
  }

  .secondInfo {
    @include petraRegular16;
    font-weight: $fw-semibold;
    text-transform: uppercase;
  }
  .secondImage {
    height: 394px;
    width: 100vw;
    background-image: url('/assets/images/image2.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0;
  }

  .shortText {
    @include petraRegular16;

    width: 100%;
    display: -webkit-box;
    height: 182px; 
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
    margin-bottom: 20px;

  }
  .longText {
    height: 337px;
    -webkit-line-clamp: unset;
  }

  .phraseBackground {
    width: 100vw;
    background-color: $color-white-D9;
  }

  .phraseContainer {
    padding: 61px 39px;
    @include petraRegular16;
    font-size: 17px;
    text-align: center;
  }
}

.thirdSection {
  width: 100vw;
  background-color: $color-blue-gray;
  padding-bottom: 44px;

  .likeness {
    margin: 44px 0 20px;
    color: $color-white;
    text-align: center;
  }
  .logoImg {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  .relativeImage {
    position: relative;
    height: 258px;
    background-image: url('/assets/images/image3.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;

    .absolut {
      position: absolute;
      top: 77%;
      right: 7%;
    }
  }
  .shortText2 {
    @include petraRegular16;

    width: 100%;
    display: -webkit-box;
    height: 132px; 
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
    margin-bottom: 20px;
    color: $color-white;

  }
  .longText2 {
    height: 223px;
    -webkit-line-clamp: unset;
  }
}

.fourthSection {
  padding-top: 44px !important;
  padding-bottom: 44px !important;

  .check {
    text-align: left;
    margin-bottom: 12px;
  }

  .bottomImage {
    margin-top: 20px;
    height: 252px;
    width: 100vw;
    background-image: url('/assets/images/image4.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}